{% extends "layout.html" %}

{% block content %}
{% if emp %}
{% for emp_id, emp_data in emp.items() %}
 <div>
    <table>
        <tr>
            <td>ID:</td>
            <td>{{emp_id}}</td>
        </tr>
        <tr>
            <td>NAME:</td>
            <td>{{emp_data['name']}}</td>
        </tr>
        <tr>
            <td>AGE:</td>
            <td>{{emp_data['age']}}</td>
        </tr>
        <tr>
            <td>Profession:</td>
            <td>{{emp_data['profession']}}</td>
        </tr>
    </table>
 </div>
 <br>
{% endfor %}
{% endif %}

{% endblock content %}